@media (max-width: 767px) {
  :global(.ad-upload .ant-upload-list-item) {
    width: calc(100dvw - 30px) !important;
  }
}

@media (min-width: 768px) {
  :global(.ad-upload .ant-upload-list-item) {
    width: 50dvw !important;
  }
}

:global(.my-red-border) {
  border-color: #ff4d4f !important;
}

:global(.my-red-border .ant-select-selector) {
  border-color: #ff4d4f !important;
}

:global(.my-custom-select .ant-select-selector) {
  border-radius: 9px !important;
}

:global(.ant-select-dropdown) {
  overscroll-behavior: contain !important;
}

:global(.ant-input-outlined:focus),
:global(.ant-input-outlined:focus-within) {
  border-color: #52c41a !important;
}

:global(.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover),
:global(.ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover) {
  border-color: #52c41a !important;
}

:global(
    .ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(
        .ant-select-customize-input
      ):not(.ant-pagination-size-changer)
      .ant-select-selector
  ) {
  border-color: #52c41a !important;
}

/* :global(#addProductContainerId) {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
} */
