:global(.ant-drawer-body) {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

:global(.ant-drawer-body::-webkit-scrollbar) {
  display: none;
}

:global(.ant-radio-button-wrapper-checked) {
  background: #52c41a !important;
}

:global(.ant-input-outlined:focus),
:global(.ant-input-outlined:focus-within) {
  border-color: #52c41a !important;
}

:global(
    .ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(
        .ant-select-customize-input
      ):not(.ant-pagination-size-changer)
      .ant-select-selector
  ) {
  border-color: #52c41a !important;
}
