.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  border-color: #E5E7EB !important;
}

.ant-menu-horizontal > .ant-menu-item {
  flex: 1;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ant-menu-item {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  height: 50px;
  margin: 0 8px !important;
}

/* Menu background already set inline */
.ant-menu-dark, 
.ant-menu-dark .ant-menu-item, 
.ant-menu-dark .ant-menu-submenu-title {
  color: white; /* unselected item text color */
}

.ant-menu-dark .ant-menu-item:hover,
.ant-menu-dark .ant-menu-submenu-title:hover {
  color: #a5b4fc; /* hover text color */
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #4f46e5 !important; /* selected item background */
  color: white !important; /* selected item text */
}

.ant-upload-list {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1)
}

.ant-menu-overflow-item-rest.ant-menu-submenu {
  background: #6366F1 !important;
}

.ant-menu-overflow-item-rest.ant-menu-submenu:hover {
  background: #4f46e5 !important; /* optional hover color */
}

.ant-radio-button-wrapper-checked {
  /* your styles for the checked radio button */
  background: #6366F1 !important;
}

/* For most browsers */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}