body {
  margin: 0;
  font-family: 'Geist', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-input-outlined:focus,
.ant-input-outlined:focus-within {
  border-color: #52c41a !important;
}

.ant-select-focused:where(
    .css-dev-only-do-not-override-1u580q7
  ).ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: #52c41a !important;
}

:where(.css-dev-only-do-not-override-1u580q7).ant-btn-variant-outlined:not(
    :disabled
  ):not(.ant-btn-disabled):hover,
:where(.css-dev-only-do-not-override-1u580q7).ant-btn-variant-dashed:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  border-color: #52c41a !important;
}
